:root {
--primario: #aaca50;
--secundario: #1b4332;
--acento: #fff;
--fondo: #D8E7DF80;
--fondoSecundario: #FFFFFF1A;
}
*{
    font-family: "Inter", sans-serif;
    scrollbar-width: none;
    margin: 0;
    color: var(--acento);
}

body{
  background-color: var(--secundario);

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 4rem;
}

h1{
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
}

h2{
  font-weight: 900;
  font-size: 36px;
  color: var(--primario);
}

h3{
  font-weight: 800;
  font-size: 36px;
  color: var(--primario);
  margin: 2rem;
}

.presentacion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 4rem;
}

.textoPresentacion{
  width: 50%;
  align-self: flex-start;
}

.textoTitulo{
  margin-bottom: 2rem;
  color: var(--primario);
}

.textoDesarrollo{
  font-weight: 400;
  width: 80%;
  font-size: 18px;
}

.imgPresentacion{
  border-radius: 5%;
}

.logo{
  font-weight: 800;
  color: var(--acento);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}

.logo > p >span{
  margin: 0;
  color: var(--primario);
}

.navegacion{
  font-weight: semi-bold;
  font-weight: 600;
  color: var(--acento);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.carritoContainer{
  border-radius: 50%;
  padding: 5px;
  width: 20px;
  height: 20px;
  background-color: var(--primario);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrito{
  width: 15px;
  height: 15px;
}

.iconoWhatsapp{
  width: 35px;
  height: 35px;
}

.listaProductos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 2rem;
  font-weight: 800;
  font-size: 32px;
}

.productos{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.productosTitulo{
  width: 50%;
}

.productosExtra{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
}

.productosExtra > p{
  color: var(--primario);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-right: 5px;
}

.flechaProductos{
  width: 16px;
  height: 16px;
  align-items: center;
}

.tarjetaProductos{
  background-color: var(--fondo);
  padding: 2rem;
  border-radius: 2rem;
  width: 50%;
  height: 50%;
}

.imagenProducto{
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.tituloTarjeta{
  font-weight: 700;
  font-size: 16px;
  color: var(--primario);
}

.descripcionTarjeta{
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: var(--secundario);
}

.precioTarjeta{
  font-weight: 900;
  font-size: 18px;
  color: var(--primario);
  width: 50%;
}

.productosExtraTarjeta{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.botonesTarjeta{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.productosTarjetas{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#contenedorRacion, #contenedorAccesorios, #contenedorMedicamentos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 2rem;
  column-gap: 2rem;
}

.MVV{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 2rem;
}

.MVVTexto{
  width: 50%;
  align-self: flex-start;
}

.MVVTexto > p{
  font-weight: 200;
  font-size: 18px;
  width: 80%;
  font-style: regular;
}

.MVVTexto > p > span{
  font-weight: 700;
  font-size: 18px;
  font-style: bold;
}

.tarjetaPresentacion{
  width: 50%;
  margin: 0 4rem;
}

.tarjetaDireccion{
  background-color: var(--fondo);
  display: flex;
  margin: 4rem 2rem;
  padding: 2rem;
  border-radius: 2rem;
}

.tarjetaDireccion > iframe{
  border-radius: 1rem;
}

.tarjetaPadre{
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.tarjetaInfo{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.tarjetaImagen{
  width: 20px;
  height: 20px;
}

.iconoContainer{
  border-radius: 25%;
  padding: 5px;
  width: 20px;
  height: 20px;
  background-color: var(--fondoSecundario);
  margin-right: .5rem;
}

.acentoTarjeta{
  color: var(--secundario);
}

p.acentoTarjeta{
  font-weight: 700;
}

.tarjetaSeparador{
  align-self: flex-start; 
  margin: 0;
}

.tarjetaMentira{
  margin: 2rem 0;
  width: 75%;
  font-weight: 300;
}

.flavorTarjeta{
  font-weight: 300;
}

.iconosPrueba{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.sizeFix{
  width: 25px;
  height: 25px;
}

.flavorImagen{
  fill: var(--secundario);
}